<!DOCTYPE html>
<html lang="en">

<head>

<style>

body {
 background: #546E7A;
 font-family: "Open Sans",  Impact;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  /* animation: blur .75s ease-out infinite; */
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
.bouncy{
animation:bouncy 5s infinite linear;
position:relative;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}


</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savvy-Management</title>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <script src='/js/bootstrap.min.js'></script>
    <script src='/dist/jquery.min.js'></script>
    <link href="/css/home.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="area">⚠ Savvy-Management ⚠</div>  
      <button class="button-81"><a href='https://google.com' alt='Broken Link'>Swagger</a></button>
      <button class="button-81"><a href='https://google.com' alt='Broken Link'>Sentry</a></button>


</body>

</html>




